---
import Layout from "../layouts/Layout.astro";
import "../components/MerBigArticle";
import "../components/MerRelatedPosts";
---

<Layout title="La Sirena Recomienda | Las mejores recomendaciones de Benidorm">
  <div class="flex xl:flex-row flex-col gap-6 items-center xl:px-0 p-5">
    <section>
      <mer-big-article
        title="Mejores lorem ipsum en Benidorm"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, arcu nec vehicula..."
        imgSrc="https://picsum.photos/1920/1080"
        tags="Cultura, Qué Hacer"></mer-big-article>
    </section>
	<mer-related-posts></mer-related-posts>
  </div>
</Layout>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
  }
</style>
